:host { 
  display: contents; 
}
.search-offer-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.search-offer-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.search-offer-navbar-interactive {
  background-color: #E5F0FF;
}
.search-offer-desktop-menu {
  display: flex;
  justify-content: space-between;
}
.search-offer-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.search-offer-nav12 {
  transition: 0.3s;
}
.search-offer-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.search-offer-burger-menu {
  display: none;
}
.search-offer-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.search-offer-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.search-offer-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.search-offer-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.search-offer-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-offer-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.search-offer-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.search-offer-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.search-offer-nav5 {
  margin-bottom: var(--dl-space-space-unit);
}
.search-offer-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.search-offer-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.search-offer-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.search-offer-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.search-offer-hero1 {
  height: 87px;
  background-color: #c6ddeb;
}
.search-offer-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.search-offer-hero-heading {
  max-width: 800px;
  text-align: center;
}
.search-offer-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-offer-features-container {
  height: 500px;
}
.search-offer-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.search-offer-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.search-offer-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-offer-select {
  width: 100%;
  height: 100%;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.search-offer-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-offer-textinput {
  width: 100%;
}
.search-offer-container5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.search-offer-textinput1 {
  width: 100%;
}
.search-offer-container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.search-offer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-offer-container7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.search-offer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.search-offer-container8 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.search-offer-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.search-offer-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.search-offer-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.search-offer-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .search-offer-hero1 {
    flex-direction: column;
  }
  .search-offer-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .search-offer-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .search-offer-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .search-offer-desktop-menu {
    display: none;
  }
  .search-offer-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-offer-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .search-offer-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .search-offer-hero1 {
    height: 285px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .search-offer-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .search-offer-container2 {
    grid-template-columns: 1fr;
  }
  .search-offer-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .search-offer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .search-offer-container8 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .search-offer-text3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .search-offer-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .search-offer-mobile-menu1 {
    padding: 16px;
  }
  .search-offer-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .search-offer-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .search-offer-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .search-offer-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .search-offer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .search-offer-container8 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .search-offer-text3 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
