.login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .login-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .login-navbar-interactive {
    background-color: #E5F0FF;
  }
  .login-desktop-menu {
    display: flex;
    justify-content: space-between;
  }
  .login-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .login-nav12 {
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  .login-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  .login-burger-menu {
    display: none;
  }
  .login-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .login-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .login-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .login-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .login-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .login-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .login-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-nav5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .login-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .login-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 96px;
    align-items: flex-start;
    justify-content: center;
  }
  .login-hero1 {
    height: 87px;
    background-color: #c6ddeb;
  }
  .login-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-hero-heading {
    max-width: 800px;
    text-align: center;
  }
  .login-features {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-features-container {
    height: 500px;
  }
  .login-features1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .login-container2 {
    width: 50%;
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
  .login-container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .login-textinput {
    width: 100%;
  }
  .login-container4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .login-textinput1 {
    width: 100%;
  }
  .login-container5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .login-footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-container6 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .login-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .login-container7 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .login-icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .login-icon10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon12 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .login-icon14 {
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .login-hero1 {
      flex-direction: column;
    }
    .login-container1 {
      align-items: center;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
      padding-right: 0px;
    }
    .login-hero-heading {
      text-align: center;
    }
  }
  @media(max-width: 767px) {
    .login-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .login-desktop-menu {
      display: none;
    }
    .login-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login-nav1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .login-nav5 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .login-hero1 {
      height: 285px;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .login-features1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .login-container2 {
      grid-template-columns: 1fr;
    }
    .login-footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .login-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .login-container7 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .login-text2 {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .login-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .login-mobile-menu1 {
      padding: 16px;
    }
    .login-hero1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .login-container1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .login-features1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .login-footer1 {
      padding: var(--dl-space-space-unit);
    }
    .login-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .login-container7 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .login-text2 {
      text-align: center;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  