.register-worker-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .register-worker-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .register-worker-navbar-interactive {
    background-color: #E5F0FF;
  }
  .register-worker-desktop-menu {
    display: flex;
    justify-content: space-between;
  }
  .register-worker-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .register-worker-nav12 {
    transition: 0.3s;
  }
  .register-worker-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .register-worker-burger-menu {
    display: none;
  }
  .register-worker-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .register-worker-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .register-worker-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .register-worker-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .register-worker-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-worker-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .register-worker-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .register-worker-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .register-worker-nav5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .register-worker-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .register-worker-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .register-worker-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .register-worker-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 96px;
    align-items: flex-start;
    justify-content: center;
  }
  .register-worker-hero1 {
    height: 87px;
    background-color: #c6ddeb;
  }
  .register-worker-container01 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .register-worker-hero-heading {
    max-width: 800px;
    text-align: center;
  }
  .register-worker-features {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-worker-features-container {
    height: 500px;
  }
  .register-worker-features1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .register-worker-container02 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .register-worker-container03 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .register-worker-textinput {
    width: 100%;
  }
  .register-worker-container04 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .register-worker-textinput1 {
    width: 100%;
  }
  .register-worker-container05 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .register-worker-textinput2 {
    width: 100%;
  }
  .register-worker-container06 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .register-worker-textinput3 {
    width: 100%;
  }
  .register-worker-container07 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .register-worker-textinput4 {
    width: 100%;
  }
  .register-worker-container08 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .register-worker-select {
    width: 100%;
    height: 100%;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .register-worker-container09 {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .register-worker-footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-worker-container10 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .register-worker-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .register-worker-container11 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .register-worker-icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .register-worker-icon10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .register-worker-icon12 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .register-worker-icon14 {
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .register-worker-hero1 {
      flex-direction: column;
    }
    .register-worker-container01 {
      align-items: center;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
      padding-right: 0px;
    }
    .register-worker-hero-heading {
      text-align: center;
    }
  }
  @media(max-width: 767px) {
    .register-worker-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .register-worker-desktop-menu {
      display: none;
    }
    .register-worker-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .register-worker-nav1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .register-worker-nav5 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .register-worker-hero1 {
      height: 285px;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .register-worker-features1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .register-worker-container02 {
      grid-template-columns: 1fr;
    }
    .register-worker-footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .register-worker-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .register-worker-container11 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .register-worker-text6 {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .register-worker-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .register-worker-mobile-menu1 {
      padding: 16px;
    }
    .register-worker-hero1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .register-worker-container01 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .register-worker-features1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .register-worker-footer1 {
      padding: var(--dl-space-space-unit);
    }
    .register-worker-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .register-worker-container11 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .register-worker-text6 {
      text-align: center;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  .login-nav12 {
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  .login-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  
  