.list-offers-card-container {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .list-offers-card-blog-post-card {
    width: 100%;
    overflow: hidden;
    max-width: var(--dl-size-size-maxwidth);
    box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .list-offers-card-blog-post-card:hover {
    transform: scale(1.02);
  }
  .list-offers-card-container1 {
    display: flex;
    padding: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .list-offers-card-text {
    color: var(--dl-color-gray-500);
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
    text-transform: uppercase;
  }
  .list-offers-card-text1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .list-offers-card-text2 {
    color: var(--dl-color-gray-500);
    font-weight: 400;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .list-offers-card-container2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
    flex-direction: row;
    justify-content: space-between;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .list-offers-card-profile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .list-offers-card-image {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .list-offers-card-text3 {
    font-weight: 300;
    margin-left: var(--dl-space-space-halfunit);
  }
  .list-offers-card-text4 {
    color: var(--dl-color-gray-700);
    font-weight: 300;
  }
  .list-offers-card-container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  @media(max-width: 991px) {
    .list-offers-card-text {
      color: var(--dl-color-gray-500);
      font-weight: 700;
      text-transform: uppercase;
    }
    .list-offers-card-text1 {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .list-offers-card-text4 {
      color: var(--dl-color-gray-black);
    }
  }
  
  .list-offers-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .list-offers-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .list-offers-navbar-interactive {
    background-color: #E5F0FF;
  }
  .list-offers-desktop-menu {
    display: flex;
    justify-content: space-between;
  }
  .list-offers-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .list-offers-nav12 {
    transition: 0.3s;
  }
  .list-offers-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
  }
  .list-offers-burger-menu {
    display: none;
  }
  .list-offers-icon {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .list-offers-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
  }
  .list-offers-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .list-offers-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .list-offers-close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-offers-icon02 {
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
  }
  .list-offers-links1 {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .list-offers-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-offers-nav5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .list-offers-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .list-offers-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .list-offers-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .list-offers-hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 96px;
    align-items: flex-start;
    justify-content: center;
  }
  .list-offers-hero1 {
    height: 87px;
    background-color: #c6ddeb;
  }
  .list-offers-container1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .list-offers-hero-heading {
    max-width: 800px;
    text-align: center;
  }
  .list-offers-features {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-offers-features1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .list-offers-container2 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .list-offers-footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-offers-footer1 {
    background-color: var(--dl-color-gray-white);
  }
  .list-offers-container3 {
    gap: var(--dl-space-space-unit);
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .list-offers-separator {
    flex: 0 0 auto;
    width: 100%;
    height: 0px;
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-900);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .list-offers-container4 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .list-offers-icon-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .list-offers-icon10 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .list-offers-icon12 {
    width: 24px;
    height: 24px;
    margin-right: var(--dl-space-space-twounits);
  }
  .list-offers-icon14 {
    width: 24px;
    height: 24px;
  }
  @media(max-width: 991px) {
    .list-offers-hero1 {
      flex-direction: column;
    }
    .list-offers-container1 {
      align-items: center;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-twounits);
      padding-right: 0px;
    }
    .list-offers-hero-heading {
      text-align: center;
    }
  }
  @media(max-width: 767px) {
    .list-offers-navbar-interactive {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .list-offers-desktop-menu {
      display: none;
    }
    .list-offers-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .list-offers-nav1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .list-offers-nav5 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .list-offers-hero1 {
      height: 285px;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .list-offers-features1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .list-offers-container2 {
      grid-template-columns: 1fr;
    }
    .list-offers-footer1 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .list-offers-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .list-offers-container4 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .list-offers-text {
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .list-offers-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .list-offers-mobile-menu1 {
      padding: 16px;
    }
    .list-offers-hero1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .list-offers-container1 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .list-offers-features1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .list-offers-footer1 {
      padding: var(--dl-space-space-unit);
    }
    .list-offers-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .list-offers-container4 {
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }
    .list-offers-text {
      text-align: center;
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
  }
  .login-nav12 {
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  .login-nav3 {
    transition: 0.3s;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
    cursor: pointer;
    color: black;
  }


