<div id="post-form">
  <h3>Add Service</h3>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nameOfService">Name of Service:</label>
      <input type="text" id="nameOfService" name="nameOfService" formControlName="nameOfService" required>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" formControlName="price" step="0.01" required>
    </div>
    <div class="form-group">
      <label for="businessSelect">Your Businesses:</label>
      <select id="businessSelect" name="businessSelect" formControlName="businessId">
        <option *ngFor="let business of businessOptions" [ngValue]="business.businessId">{{ business.businessName }}</option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
